.App {
  text-align: center;
}

.Link {
  text-decoration: none;
  color: #29f392;
}

.Link:hover{
  color: aliceblue;
}
button {
  background-color: antiquewhite;
  border: none;
  height: 60px;
  width: 90px;
}

.nav {
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: orange;
  margin: 0 0 10px 0;
}

.main {
  height: 200px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: blanchedalmond;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

